body {
    background: rgb(159, 248, 159)
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 500;
    max-height: 700;
    align-items: 20ex;
}

body {
    color: Orange;
}

h1 {
    color:hotpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
body {
    margin: 20px;
  }

h1 {
    border: 1px solid #000;
}/*
selects the HTML element with the id 'main-header' (e.g. <h1 id='main-header'>)
*/
#main-header
